@import url(http://fonts.googleapis.com/css?family=Inconsolata:400,700);
@import url("reset.css");

/* Normal 400 Bold 700*/

body{
    
    background-color:#1b53af;
    font-family: 'Inconsolata', sans-serif;
    color:#444444;

}


h1 {

    text-align:center;
    font-size: 36px;
    font-weight:bold;
    line-height:46px;
    color: #FFFFFF;

}

h3{

padding: 10px 10px 10px 10px ;
font-size: 18px;
font-weight:bold;
line-height:18px;


}



header{

    margin-bottom:46px;

}
#logo{

    background:url(../img/logo.png) no-repeat;
   
    float: left;
	width: 63px;
	height:64px;
	margin-bottom: 28px;
	
	
}


.container{

	width:960px;
	margin: 0 auto;

}




.section{
    background-color:#ffffff;
    box-shadow: 2px 2px 5px #353535;
    padding: 10px 10px 10px 10px ;
   

}

.question{
    display:block;
}

.question li {
font-weight: bold;
padding-bottom:10px;
        
}

.choices{

  display:block;
}

.btnSubmit{
    display:block;

}

.option{
    
margin-bottom: 10px
}

.error{
    color: red;
    font-weight: bold;
    }

.correct{
 color: darkgreen;
    font-weight: bold;
}
.reset{
display:none;
}